<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
  <div class="col-md-6 offset-md-3 col-10 offset-1">
    <h1 class="mt-2">Edit Listing</h1>
    <form
      action="/listings/<%= listing._id %>?_method=PATCH"
      method="post"
      class="needs-validation"
      novalidate
    >
      <div>
        <label for="title" class="form-label">Title:</label>
        <input
          type="text"
          name="title"
          class="form-control mb-3"
          placeholder="Enter title"
          value="<%= listing.title %>"
          required
        />
        <div class="invalid-feedback">Title required</div>
      </div>

      <div>
        <label for="description" class="form-label">Description:</label>
        <textarea
          name="description"
          id="description"
          class="form-control mb-1"
          placeholder="Tell about the property"
          rows="3"
          required
        >
<%= listing.description %></textarea
        >
        <div class="invalid-feedback">Description required</div>
      </div>

      <div>
        <label for="price" class="form-label">Price:</label>
        <input
          type="number"
          name="price"
          class="form-control mb-1"
          placeholder="Enter price in rupees"
          value="<%= listing.price %>"
          required
        />
        <div class="invalid-feedback">Price required(in rupees)</div>
      </div>

      <div>
        <label for="imgURL" class="form-label">Image-URL:</label>
        <input
          type="text"
          name="imgURL"
          id="imgURL"
          class="form-control mb-1"
          placeholder="Enter Image URL/link"
          value="<%= listing.imgURL %>"
          required
        />
        <div class="invalid-feedback">Image URL required</div>
      </div>

      <div>
        <label for="city" class="form-label">City:</label>
        <input
          type="text"
          name="city"
          class="form-control mb-1"
          value="<%= listing.city %>"
          required
        />
        <div class="invalid-feedback">City required</div>
      </div>

      <div>
        <label for="country" class="form-label">Country:</label>
        <input
          type="text"
          name="country"
          class="form-control"
          value="<%= listing.country %>"
          required
        />
        <div class="invalid-feedback">Country required</div>
      </div>

      <br />
      <button class="btn btn-danger">Done</button>
      <br />
      <br />
    </form>
  </div>
</div>
