<%- layout("/layouts/boilerplate.ejs") %>
  <div class="row justify-content-center">
    <div class="col-md-11 ">
      <%- include("../includes/categories.ejs") %>

        <div class="listings row justify-content-center me-1 ms-1">
          <% for(listing of listings){ %>
            <a href="/listings/<%= listing._id %>" class="col-md-4 col-sm-6 col-12">
              <div class="card card-listing">
                <img src="<%= listing.image.url %>" alt="Image" class="card-img-top" />
                <div class="card-body">
                  <h5 class="card-title">
                    <%= listing.title %>
                  </h5>
                  <div class="card-text">
                    <p>&#8377;<%= listing.price.toLocaleString("en-IN") %>/night</p>
                  </div>
                </div>
              </div>
            </a>
            <% } %>
        </div>
    </div>
  </div>